.app{
    justify-content: space-around;
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    background-color: darkslateblue;
    width: 100vw;
}
body{
    margin: 0;
}
.tree{
    align-items: center;
    justify-content: center;
    width: auto;
    display: flex;
  
}