.apple{
    position: absolute;
    height: 50px;
    z-index: 1;
}
.fallen{
    animation: fall 1s linear forwards;
  }

@keyframes fall {
     100%{
      bottom: 0;
    } 
  }

  @for $i from 1 through 13 {
    .apple.fallen:nth-child(#{$i}){
      animation-delay: random($limit: 2) + s
    }
  }